.star {
    background-color: #0082ff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    &.shadow {
        box-shadow: 2px 2px 8px #7cbfff;
    }
    span {
        font-size: 28px;
    }
}

.iconbox {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    span {
        font-size: 28px;
        display: block;
    }
    &.md {
        .icomoon {
            font-size: 22px;
            margin: 5px;
        }
    }
    &.sm {
        .icomoon {
            font-size: 18px;
            margin: 7px;
        }
    }
    &.flat {
        padding-left: 0px;
        padding-right: 0px;
    }
    &.full-flat {
        padding: 0px;
        .icomoon {
            margin: 0;
        }
    }
}

.tarjeta {
    background-color: inherit;
    max-width: 320px;
    .info {
        font-size: 14px;
        padding-left: 15px;
        margin: auto;
        p {
            margin: 0;
        }
    }
}

.header {
    border-bottom: 1px solid $main-border-color;
    box-sizing: border-box;
    background-color: white;
    span {
        color: inherit;
    }
    .text {
        margin: auto;
    }
    a {
        @include link;
        color: $link-color;
    }
    .nav-item {
        padding: 5px;
        &.float-right {
            float: right;
        }
        &.flat {
            padding-left: 0;
            padding-right: 0;
            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.border-left {
            border-left: 1px solid $main-border-color;
        }
        &.border-right {
            border-right: 1px solid $main-border-color;
        }
    }
}

.buscador {
    input[type="text"] {
        background-color: inherit;
        border: none;
        width: 100%;
    }
}

.user-box {
    max-width: 360px;
    max-height: 52px;
    .thumb {
        text-align: center;
        border-radius: 5px;
        img {
            padding: calc(5px / 2);
            width: 45px;
            height: 45px;
            border-radius: 16px;
            box-sizing: content-box;
        }
    }
    .info {
        padding-left: 5px;
        margin: auto;
        margin-left: 0;
        strong {
            @include link-color;
        }
    }
}

.box {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: $text-color-light;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #e0e0e0;
    .box-header {
        font-size: 14px;
        box-sizing: border-box;
        display: inline-block;
        padding: 10px;
        width: 100%;
        h3 {
            @include h-cleaner;
            float: left;
            text-transform: uppercase;
        }
        a {
            float: right;
        }
    }
    .box-body {
        padding: 10px;
        canvas {
            width: 100%;
            background-color: #ccc;
        }
    }
    .box-footer {
        padding: 10px;
    }
}

.box-float-container {
    padding: 40px;
    padding-top: 20px;
    .head-section {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    > .container {
        padding: 1em;
        font-size: 15px;
        @media screen and (max-width: map-get($breakpoints,xl)) {
            font-size: 10px;
        }
        @media screen and (max-width: map-get($breakpoints,lg)) {
            font-size: 5px;
        }
        @media screen and (max-width: map-get($breakpoints,md)) {
            font-size: 10px;
            padding: 0;
            > div {
                margin: 1em;
            }
        }
    }
    @media screen and (max-width: map-get($breakpoints, lg)) {
        padding: 20px;
    }
    @media screen and (max-width: map-get($breakpoints, sd)) {
        padding: 10px;
    }
    
}

.btn-group {
    border-collapse: collapse;
    display: inline-flex;
}
.link-group {
    border-collapse: collapse;
    display: inline-flex;
    a:first-child {
        border-radius: 5px 0px 0px 5px;
    }
    a:last-child {
        border-radius: 0px 5px 5px 0px;
    }
}

.action-button {
    font-size: 14px;
    min-width: 125px;
    display: inline-block;
    border: 1px solid $main-border-color;
    h3 {
        width: 100%;
        text-align: center;
    }
    &.active {
        border: 1px solid white;
        background-color: white;
        box-shadow: 5px 5px 5px #e0e0e0;
        border-radius: 5px;
    }
}

.action-close {
    display: inline-block;
    padding: 19px 0px;
}