$link-color: #7b7b7b;
$link-color-hover: #7b7b7b;
$input-color-border: #c0c0c0;
$main-border-color: #dadada;

$text-color-light: #8d8d8d;
$native-background: #f1f1f1;

$icon-color-light: white;
$icon-color-dark: #7b7b7b;



$bg-color01:#55792d;
$bg-color02:#447c69;
$bg-color03:#74c493;

$bg-color04:#8e8c6d;
$bg-color05:#e4bf80;
$bg-color06:#e9d78e;

$bg-color07:#e2975d;
$bg-color08:#f19670;
$bg-color09:#e16552;

$bg-color10:#c94a53;
$bg-color11:#be5168;
$bg-color12:#a34974;

$bg-color13:#993767;
$bg-color14:#65387d;
$bg-color15:#4e2472;

$bg-color16:#9163b6;
$bg-color17:#e279a3;
$bg-color18:#e0598b;

$bg-color19:#7c9fb0;
$bg-color20:#5698c4;
$bg-color21:#9abf88;
